*{
    box-sizing:border-box;
}
.form{
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    
    
}
.route{
    margin: auto;
    margin-top: 100px;
    border:2px solid whitesmoke;
    border-radius:10px;
    width:400px;
    height:420px;
    background-color:white;
    justify-content: center;
    align-items: center;
}
